__pycache__/
*.pyc
.pytest_cache/
.env
*.pt
!backend/ml/models/fight/fight_classifier.pt
!backend/ml/models/plates/license_plate_detector.pt
*.onnx
*.engine
logs/
backend/logs/
backend/venv/
backend/progoz.db
backend/*.db
backend/ml/datasets/**/*
!backend/ml/datasets/**/.gitkeep
backend/ml/runs/
backend/app/static/uploads/*
backend/app/static/processed/*
backend/app/static/snapshots/*
backend/app/static/clips/*
!backend/app/static/uploads/.gitkeep
!backend/app/static/processed/.gitkeep
!backend/app/static/snapshots/.gitkeep
!backend/app/static/clips/.gitkeep
frontend/node_modules/
frontend/dist/
