__pycache__/
*.pyc
.pytest_cache/
.env
*.pt
!backend/ml/models/fight/fight_classifier.pt
!backend/ml/models/plates/license_plate_detector.pt
*.onnx
*.engine
logs/
backend/logs/
backend/venv/
backend/progoz.db
backend/*.db
backend/ml/datasets/**/*
!backend/ml/datasets/**/.gitkeep
backend/ml/runs/
backend/app/static/uploads/*
backend/app/static/processed/*
backend/app/static/snapshots/*
backend/app/static/clips/*
!backend/app/static/uploads/.gitkeep
!backend/app/static/processed/.gitkeep
!backend/app/static/snapshots/.gitkeep
!backend/app/static/clips/.gitkeep
frontend/node_modules/
frontend/dist/

# Flutter / Mobile
progoz_mobile/.dart_tool/
progoz_mobile/.idea/
progoz_mobile/build/
progoz_mobile/.flutter-plugins
progoz_mobile/.flutter-plugins-dependencies
progoz_mobile/android/.gradle/
progoz_mobile/android/app/build/
progoz_mobile/android/local.properties
progoz_mobile/ios/Pods/
progoz_mobile/ios/.symlinks/
progoz_mobile/*.iml

# Firebase / Hassas Dosyalar
progoz_mobile/android/app/google-services.json
progoz_mobile/ios/Runner/GoogleService-Info.plist
